## **Chamada do pacote com os arquivos de leitura.**

In [1]:
from package.arquivo_csv import ArquivoCSV
from package.arquivo_txt import ArquivoTXT

In [2]:
# Usando arquivos anexados como exemplo.
noticia = ArquivoTXT(arquivo="noticia.txt")
banco = ArquivoCSV(arquivo='banco.csv')

In [3]:
noticia.conteudo

['Egito cobra quase US$ 1 bi para liberar navio que bloqueou Canal de Suez\n',
 'Segundo autoridades, valor será utilizado para recompor as perdas provocados pelo encalhamento da embarcação de quase 400 metros\n']

In [4]:
banco.conteudo

['age,job,marital,education,default,balance,housing,loan\n',
 '30,unemployed,married,primary,no,1787,no,no\n',
 '33,services,married,secondary,no,4789,yes,yes\n',
 '35,management,single,tertiary,no,1350,yes,no\n',
 '30,management,married,tertiary,no,1476,yes,yes\n',
 '59,blue-collar,married,secondary,no,0,yes,no\n',
 '35,management,single,tertiary,no,747,no,no\n',
 '36,self-employed,married,tertiary,no,307,yes,no\n',
 '39,technician,married,secondary,no,147,yes,no\n',
 '41,entrepreneur,married,tertiary,no,221,yes,no\n',
 '43,services,married,primary,no,-88,yes,yes\n']

In [5]:
banco.colunas

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan']